.container {
    background-color: silver;
    width: 1200px;
    display: flex;
}
.col {
    height: 400px;
    flex: 1;
    background-color: slateblue;
    margin: 20px;
    padding: 20px;
}
.col-2 {
    flex: 2;
}